@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Comfortaa';
  src: url(/font/Comfortaa.ttf);
}

@tailwind utilities;

@layer base {
  html {
    @apply bg-white font-sans;
  }

  body {
    @apply my-border bg-white overflow-x-hidden;
  }

  /* #__next {
    @apply h-full w-full overflow-y-scroll overflow-x-hidden;
  } */

  *::-webkit-scrollbar {
    display: none;
  }

  *::-webkit-scrollbar-track {
    display: none;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  *::-webkit-scrollbar-thumb {
    display: none;
    /* background-color: darkgrey; */
    outline: none;
  }

  input:checked + div {
    @apply border-blue-800;
  }

  input:checked + div svg {
    @apply block;
  }

  image {
    @apply block;
  }
}

@layer components {
  .navbar {
    @apply flex flex-row gap-1 border-2 border-black text-black bg-black;
  }
  .navbar__item {
    @apply flex items-center justify-between;
  }

  .title {
    @apply tracking-wider font-bold uppercase;
  }

  .hero {
    @apply md:grid border-2 border-black grid-rows-[auto] grid-cols-3;
  }

  .animate-fly {
    @apply translate-x-40 -translate-y-40 opacity-0;
  }

  .input {
    @apply p-2 border-2 border-black outline-none;
  }

  .wordList__tag {
    @apply my-border p-2 sm:p-4 flex-grow flex-center;
  }

  .selector {
    @apply absolute top-0 left-0 w-full h-[200%] overflow-y-scroll lg:h-auto md:w-[120%] font-medium flex flex-col lg:grid grid-cols-3 gap-2 scale-y-0 hover:scale-100 transition-all;
  }

  .show_select:focus ~ div {
    @apply scale-100 -translate-y-full;
  }

  .word-button {
    @apply border rounded-2xl h-full p-3 flex-center gap-2 border-zinc-300;
  }

  .login-button {
    @apply my-border my-1 sm:my-0 rounded w-full uppercase font-medium p-4 shadow-sm shadow-black;
  }

  .year-created-tag {
    @apply m-1 sm:m-0 px-2 prose rounded-3xl bg-orange-400 text-center text-black;
  }

  .other-tags {
    @apply rounded-3xl prose px-2 m-1 sm:m-0 bg-blue-400 text-center text-black;
  }
}

@layer utilities {
  .my-border {
    @apply border-2 border-black;
  }

  .animate-black-white {
    @apply bg-black text-white hover:bg-white hover:text-black transition-all;
  }

  .animate-white-black {
    @apply bg-white text-black hover:bg-black hover:text-white transition-all;
  }

  .grid-item-center {
    @apply grid place-items-center;
  }

  .card-list {
    @apply lg:grid grid-cols-12;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .line-clamp-4 {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }

  .animate-section {
    @apply transition-all duration-500 ease-in;
  }

  .animate-left-right-in {
    @apply translate-x-0 opacity-100;
  }

  .animate-left-right-out {
    @apply translate-x-full opacity-0;
  }
}
