@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-white;
  }

  body {
    @apply my-border bg-white w-screen h-screen overflow-x-hidden;
  }

  #__next {
    @apply h-full w-full overflow-y-scroll overflow-x-hidden;
  }

  *::-webkit-scrollbar {
    width: 7px;
  }

  *::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  *::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

  input:checked + div {
    @apply border-blue-800;
  }

  input:checked + div svg {
    @apply block;
  }

  image {
    @apply block;
  }
}

@layer components {
  .navbar {
    @apply flex flex-row gap-1 border-2 border-black text-black bg-black;
  }
  .navbar__item {
    @apply flex items-center justify-between;
  }

  .navbar__item-text {
    @apply tracking-wider;
  }

  .title {
    @apply tracking-wider font-bold uppercase;
  }

  .hero {
    @apply md:grid border-2 border-black grid-rows-[auto] grid-cols-3;
  }

  .animate-fly {
    @apply translate-x-40 -translate-y-40 opacity-0;
  }

  .input {
    @apply p-2 border-2 border-black outline-none;
  }

  .wordList__tag {
    @apply my-border p-2 sm:p-4 flex-grow flex-center;
  }

  .selector {
    @apply absolute top-0 left-0 w-full h-[200%] overflow-y-scroll lg:h-auto no-scrollbar md:w-[120%] font-medium flex flex-col lg:grid grid-cols-3 gap-2 smaller-text-responsive scale-y-0 hover:scale-100 transition-all;
  }

  .show_select:focus ~ div {
    @apply scale-100 -translate-y-full;
  }
}

@layer utilities {
  .smaller-text-responsive {
    @apply text-[1vw] sm:text-[1vw] md:text-xs;
  }

  .text-responsive {
    @apply text-[4vw] sm:text-[3vw] md:text-2xl;
  }

  .bigger-text-responsive {
    @apply text-[7vw] sm:text-[5vw] md:text-5xl md:leading-tight;
  }

  .logo-responsive {
    @apply text-[13vw]  md:text-7xl;
  }

  .title-responsive {
    @apply text-[8vw]  md:text-5xl;
  }

  .my-border {
    @apply border-2 border-black;
  }

  .animate-black-white {
    @apply bg-black text-white hover:bg-white hover:text-black transition-all;
  }

  .animate-white-black {
    @apply bg-white text-black hover:bg-black hover:text-white transition-all;
  }

  .grid-item-center {
    @apply grid place-items-center;
  }

  .card-list {
    @apply flex flex-col lg:grid grid-cols-12 grid-rows-6;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .animate-section {
    @apply transition-all duration-500 ease-in;
  }

  .animate-left-right-in {
    @apply translate-x-0 opacity-100;
  }

  .animate-left-right-out {
    @apply translate-x-full opacity-0;
  }

  .no-scrollbar::-webkit-scrollbar {
    width: 0px;
  }
}
